.dart_tool/
.packages

# Flutter and Dart build output.
build/
.build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# Website generated output.
apps/website/web/styles.css

# macOS.
.DS_Store
